html, body {
    padding: 0;
    margin: 0;
    
}
body {
    height: 100vh;
    background-color: #ff5e57;
    transition: background-color, 2s;
}

#button {
    background-color: transparent;
    padding: 20px;
    font-size: 1.4em;
    text-decoration: none;
    font-family: 'Sunflower', sans-serif;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 45%;
    transition: background-color, 2s;
}

#button:hover {
    letter-spacing: 0.2;
    font-size: 1.6em;
    padding: 40px;
    color: #333;
    background-color: #ffdd59;
    top: 20%;
    content: "click me";
    left: 40%;
    
}

/*TOGGLE CLASS*/
.toggle {
    transition: background-color, 5s;
    background-color: #0fbcf9;
}
